/* ----- General ------ */

html {
  background-color: #c9b5ab;
  font-family: "PT Serif", regular;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* ----- Masthead ----- */

h1,
h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

nav a {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #8f2440;
  text-decoration: none;
}

/* ----- Typography ----- */

.tag {
  list-style-type: none;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
}

h2 + p {
  font-style: italic;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote footer {
  font-size: 0.8rem;
}

strong {
  font-weight: normal;
}

.data {
  font-weight: bold;
  font-size: 1.125rem;
}

dl dt {
  font-weight: bold;
}

h2 + ol {
  list-style-type: lower-greek;
}

ul {
  list-style-type: circle;
}

footer a {
  text-decoration: none;
}
