/* ----- =General ------ */

html {
  background-color: #c9b5ab;
  font-family: "PT Serif", regular;
  font-size: 1.125rem;
  line-height: 1.5;
}

/* ----- =Masthead ----- */

h1,
h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #3f1622;
}

nav a {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: lighter;
  text-decoration: none;
}

/* ----- =Typography ----- */

a {
  text-decoration: none;
  color: #8f2440;
}

.tag {
  list-style-type: none;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

img {
  width: 80%;
}

figcaption {
  font-style: italic;
  text-align: left;
  font-size: .8rem;
}

h2 + p {
  font-style: italic;
}

blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote footer {
  font-size: .8rem;
}

strong {
  font-weight: normal;
}

.data {
  font-weight: bold;
  font-size: 1.125rem;
}

dl dt {
  font-weight: bold;
}

h2 + ol {
  list-style-type: lower-greek;
}

ul {
  list-style-type: circle;
}
